@import "../node_modules/picnic/picnic.min.css";

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

nav {
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 1 0 auto;
}
.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  p {
    color: hsl(0, 0%, 45%);
  }
}

.login {
  margin-top: 15%;
  .login__body {
    padding: 15px;
  }
}
