@import "../node_modules/semantic-ui-css/semantic.min.css";
@import "../node_modules/semantic-ui-css/components/icon.min.css";

html {
  min-height: 100%;
  height: unset;
  position: relative;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #DADADA;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;

  p {
    text-align: center;
    color: hsl(0, 0%, 45%);
  }
}

.main-container {
  margin-top: 7em;
  margin-bottom: 7em
}
