<div class="ui centered grid">
  <div class="sixteen wide mobile column eight wide computer">
		<%= for {level, message} <- get_flash(@conn) do %>
			<div class="ui message <%= flash_class(level) %> transition">
				<i class="close icon"></i>
				<div class="header">
					<%= message %>
				</div>
			</div>
		<% end %>
	</div>
</div>
