<%= if get_flash(@conn, :error) do %>
<div class="ui message red">
  <div class="header">
    <%= get_flash(@conn, :error) %>
  </div>
</div>
<% end %>

<%= if get_flash(@conn, :info) do %>
<div class="ui message blue">
  <div class="header">
    <%= get_flash(@conn, :info) %>
  </div>
</div>
<% end %>